!SG2210MP
#
vlan 2
 name "DMZ_Cultura"
#
vlan 15
 name "Biblioteca_Publica_1"
#
vlan 16
 name "Biblioteca_Publica_2"
#
vlan 99
 name "WiFi_Cultura"
#
logging host index 1 10.1.4.138 6
#
system-time ntp UTC+08:00 139.78.100.163 199.165.76.11 12 140.142.16.34 128.138.140.44 129.7.1.66 
no system-time dst
#
user name funcionario1guarroman privilege admin secret 5 $1$@7H5F;I>C/@5K9@0E8H;M5B5D0E<A>J8-*]}!
no service reset-disable
#
no snmp-server
#
no ip http server
#
ip route 0.0.0.0 0.0.0.0 10.2.1.1 64
#
interface vlan 1
  ip address 10.2.1.2 255.255.255.0
  ipv6 enable
#
interface gigabitEthernet 1/0/1
  switchport general allowed vlan 1,2,15,16,99 tagged
#
interface gigabitEthernet 1/0/2
  switchport general allowed vlan 2 untagged
  switchport pvid 2
  no switchport general allowed vlan 1
#
interface gigabitEthernet 1/0/3
  switchport general allowed vlan 15 untagged
  switchport pvid 15
  no switchport general allowed vlan 1
#
interface gigabitEthernet 1/0/4
  switchport general allowed vlan 15 untagged
  switchport pvid 15
  no switchport general allowed vlan 1
#
interface gigabitEthernet 1/0/5
  switchport general allowed vlan 15 untagged
  switchport pvid 15
  no switchport general allowed vlan 1
#
interface gigabitEthernet 1/0/6
  switchport general allowed vlan 16 untagged
  switchport pvid 16
  no switchport general allowed vlan 1
#
interface gigabitEthernet 1/0/7
  switchport general allowed vlan 16 untagged
  switchport pvid 16
  no switchport general allowed vlan 1
#
interface gigabitEthernet 1/0/8
  switchport general allowed vlan 16 untagged
  switchport pvid 16
  no switchport general allowed vlan 1
#
interface gigabitEthernet 1/0/9
  switchport general allowed vlan 99 untagged
  switchport pvid 99
  no switchport general allowed vlan 1
#
end
