!SG2210MP
#
vlan 5
 name "Vlan5"
#
vlan 6
 name "Vlan_6"
#
vlan 9
 name "Vlan_ruina"
#
logging host index 1 10.1.4.138 6
#
system-time ntp UTC+08:00 139.78.100.163 199.165.76.11 12 140.142.16.34 128.138.140.44 129.7.1.66 
no system-time dst
#
user name casaculturaguarroman privilege user secret 5 $1$L2@1E3E3F3G1M2C2D7I7E2O0J5F4E4C8'%(((
user name funcionario1guarroman privilege admin secret 5 $1$@7H5F;I>C/@5K9@0E8H;M5B5D0E<A>J8-*]}!
no service reset-disable
#
no snmp-server
#
no ip http server
#
ip route 0.0.0.0 0.0.0.0 10.1.1.1 64
#
access-list create 1 name "KIKE"
access-list mac 1 rule 1  permit logging enable smac 00:e0:4c:68:1e:33 smask ff:ff:ff:ff:ff:ff pri 1
access-list mac 1 rule 2  permit logging enable smac bc:fc:e7:c3:a0:0a smask ff:ff:ff:ff:ff:ff
access-list mac 1 rule 100  deny logging enable
#
access-list bind 1 interface gigabitEthernet 1/0/1
#
interface vlan 1
  ip address 10.1.1.12 255.255.255.0
  ipv6 enable
#
interface gigabitEthernet 1/0/2
  switchport general allowed vlan 5 untagged
  switchport pvid 5
  no switchport general allowed vlan 1
#
interface gigabitEthernet 1/0/8
  switchport general allowed vlan 1,5-6 tagged
#
end
