!SG2210MP
#
vlan 3
 name "Servidores_Internos"
#
vlan 4
 name "SOC_Seguridad"
#
logging host index 1 10.1.4.138 6
#
system-time ntp UTC+08:00 139.78.100.163 199.165.76.11 12 140.142.16.34 128.138.140.44 129.7.1.66 
no system-time dst
#
user name funcionario1guarroman privilege admin secret 5 $1$@7H5F;I>C/@5K9@0E8H;M5B5D0E<A>J8-*]}!
no service reset-disable
#
no snmp-server
#
no ip http server
#
ip route 0.0.0.0 0.0.0.0 10.1.1.1 64
#
interface vlan 1
  ip address 10.1.1.11 255.255.255.0
  ipv6 enable
#
interface gigabitEthernet 1/0/1
  switchport general allowed vlan 1 untagged
  switchport pvid 1
#
interface gigabitEthernet 1/0/2
  switchport general allowed vlan 3 untagged
  switchport pvid 3
  no switchport general allowed vlan 1
#
interface gigabitEthernet 1/0/3
  switchport general allowed vlan 3 untagged
  switchport pvid 3
  no switchport general allowed vlan 1
#
interface gigabitEthernet 1/0/4
  switchport general allowed vlan 3 untagged
  switchport pvid 3
  no switchport general allowed vlan 1
#
interface gigabitEthernet 1/0/5
  switchport general allowed vlan 4 untagged
  switchport pvid 4
  no switchport general allowed vlan 1
#
interface gigabitEthernet 1/0/6
  switchport general allowed vlan 4 untagged
  switchport pvid 4
  no switchport general allowed vlan 1
#
interface gigabitEthernet 1/0/7
  switchport general allowed vlan 4 untagged
  switchport pvid 4
  no switchport general allowed vlan 1
#
interface gigabitEthernet 1/0/8
  switchport general allowed vlan 1,3,4 tagged
#
end
